{% extends "main.html" %}
{% block title %}login page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <div class="input-group mb-3">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input name="email" type="email" value="{{email if email}}" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </form>
      </nav>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock %}